*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;     
}
#khung{
    width: 1500px;
    height: auto;
    margin: auto;
}
#dau{
    
     display: flex;
    position: fixed; 
    top: 0;
    left: 0;
    width: 1430px;
    height: 80px; 
    background: #ffffff;
    z-index: 100; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  
   box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1); 
} 
 #dau
{
    position: fixed;
    top: 0;
    width: 1500px;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    z-index: 999;
  }
.anh img{
    margin-left: 20px;
    width: 240px;
    height: 60px;
    display: flex;
  align-items: center;    
  justify-content: center;
}
.menu{
    width: 1500px;
    display: flex;
  align-items: flex-start;     /* Canh giữa theo chiều dọc */
   justify-content: right; /* Canh giữa theo chiều ngang */
    display: flex;
    margin: 20px 0px;
    display: flex;
    list-style: none;
    align-items: baseline;
    background: #ffffff;
    margin-left: auto;
    
}
.menu-ul {
    display: flex;      
    list-style: none;
    align-items: baseline;


}
.menu-ul a:hover{
    color: rgb(0, 0, 0);
}
.menu-li{
    margin-right: 13px;
    align-items: center;
}
.menu-li a{
    margin-right: 10px;
     border-bottom: 2px solid transparent;
    color:rgb(0, 0, 0);
    text-decoration: none;
    transition: border-bottom-color cubic-bezier(0.47, 0, 0.745, 0.715) ease;
}


#dau .menu-li a:hover{
    border-bottom-color: rgb(0, 0, 0.8);
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 18px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

} 
.menu-li input{
    width: 213px;
    height: 30px;
    border-radius: 6px;
    border: 1px solid #ccc;
    padding-left: 10px;
    font-size: 16px;
}
.menu-li input:focus{
    outline: none;
}
.menu-li button{
    margin-left: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #000000;
    color: white;
    cursor: pointer;
}